*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
input[type=text]{
    border-radius: 10px;
    border-color: mediumpurple;
    padding: 20px;
}
.wholecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.digitsdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 650px;
    border-radius: 20px;
}
.digitsdisplay>*{
    display: flex;
    gap: 10px;
}
.upperdigits>*{
    display: flex;
    background-color: coral;
    padding: 26px;
    border-radius: 9px;
    border-color: blue;
}
.middledigits>*{
    display: flex;
    background-color: coral;
    padding: 26px;
    border-radius: 9px;
    border-color: blue;
}
.lowerdigits>*{
    display: flex;
    background-color: coral;
    padding: 26px;
    border-radius: 9px;
    border-color: blue;
}
.extras>*{
    display: flex;
    background-color: coral;
    padding: 26px;
    border-radius: 9px;
    border-color: blue;
}
.operations>*{
    display: flex;
    background-color: coral;
    padding: 15px;
    border-radius: 9px;
    border-color: blue;
    gap:50px;
}