*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
}
body{
    height: 100vh;
}
h1{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.display{
    display: flex;
    justify-content: center;
    border: none;
    color:#000e1a;
}
input[type ="text"]{
    box-shadow: inset -6px -6px 13px #fff,
                inset  6px 6px 13px rgba(0,0,0,.16);
    background-color: #ecf0f3;
    color: rgb(26,25,26);
    border-radius: 32px;
    height: 68px;
    width: 258px;
    border: none;
    padding: 20px;
    font-size: 40px;
    text-align: right;
}
.wholecontainer{
    display: flex;
    height: 100vh;
    background-color: #ecf0f3;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.digitsdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 650px;
    border-radius: 20px;
    box-shadow: 6px 6px 13px #fff,
                6px 6px 13px rgba(0,0,0,.16);
}
.digitsdisplay>*{
    display: flex;
    gap: 10px;
}
button:active{
    background: black;
}
button:hover{
    background: burlywood;
}
.upperdigits>*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: coral;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: blue;
    padding: 30px;
}
.middledigits>*{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: blue;
}
.lowerdigits>*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: coral;
    padding: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: blue;
}
.extras>*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: coral;
    padding: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: blue;
}
.others>*{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    background-color: coral;
    padding: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: blue;
}